<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I'm curiously-weird, factual, and interesting....</h2>
                <hr class="light">
                <p class="text-faded">Currently, I am in the process of completing my undergraduate degree at 
				The University of Toronto Scarborough campus. So far as a third year student, I have developed several 
				benefitical skills ranging from functioning-without-sleep to <b>Strong problem solving</b>.</br>
				My interests do not end at the software aspect of technology, rather I'm more of a hardware guy.
				Ever since I was a little boy, I just loved opening things up. The thought of "exploring the unknown",
				you could say had manifested within, and I cherish it even today. </br></br></br> While you are here 
				feel free to checkout my aquarium gallery! I am a huge fan of fishkeeping!</p>
                <a href="" class="btn btn-default btn-xl">Aquarium Gallery</a>
            </div>
        </div>
    </div>
</section>
