<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I'm curiously-weird, factual, and interesting....</h2>
                <hr class="light">
                <p class="text-faded">Currently, I am in the process of completing my undergraduate degree at 
				The University of Toronto Scarborough campus. So far as a third year student, I have developed several 
				benefitical skills ranging from functioning-without-sleep to <b>Strong problem solving</b> skills.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
