<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Most Important Skill sets</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
					<img src="img/skills/1.png" alt="" height='70' width='90'>
                    <h3>Solid Time Management & Problem Solving Ability</h3>
                    <p class="text-muted">By far the skills I am MOST proud of. All of my university experience thus far
					can be generally enveloped by these. The completion of several complex assignments with peers and without in 
					limited time has led to growth in these areas to the point where I am supremely confident in 
					my abilities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--  <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
				  <img src="img/skills/2.png" alt="" height='70' width='90'>
                    <h3>Eager to Learn & Take Initiative In order to Achieve Success</h3>
                    <p class="text-muted">Exploring my areas of interests is what makes me the person I am.
					Whether it is Computer Science, Mathematics, Statistics, or even Environmental Science, I 
					have never failed to take the initiative to LEARN and APPLY what I have learned.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
					<img src="img/skills/3.png" alt="" height='70' width='230'>
                    <h3>Strong Programming & Data Observation skills</h3>
                    <p class="text-muted">During my second year of University, I used SQL to work with databases of several 
					thousand rows in size. The manipulation of these databases required great attention to syntax
					leading to the development of strong observation skills. Alongside SQL, the use of Python, Java, 
					and HTML has led to the development of strong programming skills.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Applications of My Interests</h3>
                    <p class="text-muted">I am a big fan of "experimenting" with android phones. Some things I have
					achieved is the: rooting, flashing of custom roms, flashing of custom recoveries, and 
					the repairing of bootloops in specific android devices. I have used applications such as Odin, 
					over-clocking software, and I have made my own USB fans using PC fans (a bit of engineering).  
					</p>
                </div>
            </div>
        </div>
    </div>
</section>
